<% provide(:title, "Contact") %>

<h1>Contact</h1>

<p>
    Hey! I'm Dylan. <br>
    You can contact me on <a href="https://www.github.com/dylanrainwater">Github</a>
    or through email at <a href="mailto:dylan@volhacks.org">dylan@volhacks.org</a>.
</p>
