<footer class="footer">
  <small>
    <a href="http://www.railstutorial.org">Sample App</a>
    by <a href="http://github.com/dylanrainwater">Dylan Rainwater</a>
  </small>

  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "Help", '#' %></li>
    </ul>
  </nav>
